* {
    box-sizing: border-box;
}

body {
    line-height: 150%;
    color: #777777;
    background-image: url("../images/background.png");
}

.navsection {
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
}

header {
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    margin-bottom: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.headingbar {
    width: 960px;
    margin: auto;
    overflow: auto;
}


h1 {
    padding: 20px;
    background-color: #4aaaa5;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    float: left;
    margin: auto;
}

#links {
    float: right;
    padding-top: 20px;
    background-color: #ffffff;
    width: 65%;
    text-align: right;
    color: #ddd9d9;
    list-style-type: none;
}

li {
    display: inline;
}

a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    margin: 10px;
}

.clearfix {
    margin-top: 10%;
    margin-bottom: 20%;
}

#container {
    background-color: #ffffff;
    border-color: 2px solid #dddddd;
    margin: auto;
    width: 960px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#sectionheader {
    border-bottom: 2px solid #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

input[type=submit]:hover {
    background-color: #4aaaa5;
}

.form {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 30px;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer {
    background-color: #666666;
    font-size: 14px;
    text-align: center;
    padding-top: 55px;
    margin-top: 7.5%;
    border-top: 6px solid #4aaaa5;
}

@media screen and (max-width: 980px) {

    header {
        width: 100%;
    }
    
    #links {
        margin-right: 15px;
    }
    
    .headingbar {
        width: 100%;
    }
    
    #container {
        width: 768px;
    }
    }
    
    @media screen and (max-width: 768px) {
    header {
         width: 100%;
    }
    
    #links {
        margin-right: 15px;
    }
    
    .headingbar {
        width: 100%;
    }

    .clearfix {
        margin-top: 15%;
    }
    
    #container {
         width: 640px;
    }
    }
    
    @media screen and (max-width: 640px) {
    .navsection {
        position: static;
        width: 100%;
    }
    

    header {
        position: static;
        width: 100%;
    }
        
    .headingbar {
        width: 100%;
    }
    
    h1 {
        width: 100%;
        text-align: center;
    }
    
    #links {
        display: block;
        width: 100%;
        text-align: center;
        padding: 0;
    }
    
    #container {
        width: 90%;
        margin-bottom: 30%;
    }
    
    #sectionheader {
        text-align: center;
    }
    
    .form {
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

    }
    
    p{
        font-size: 14px;
    }

    .clearfix {
        margin-top: 10%;
    }

    footer {
        padding: 20px;
    }
    }