* {
    box-sizing: border-box;
}

body {
    line-height: 150%;
    color: #777777;
    background-image: url("../images/background.png");
}

header {
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    margin-bottom: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.headingbar {
    width: 960px;
    margin: auto;
    overflow: auto;
}


h1 {
    padding: 20px;
    background-color: #4aaaa5;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    float: left;
    margin: auto;
}

#links {
    float: right;
    padding-top: 20px;
    background-color: #ffffff;
    width: 65%;
    text-align: right;
    color: #ddd9d9;
    list-style-type: none;
}

li {
    display: inline;
}

a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    margin: 10px;
}

.clearfix {
    margin-top: 2.5%;
    margin-bottom: 30%;
}

#container {
    background-color: #ffffff;
    border-color: 2px solid #dddddd;
    margin: auto;
    width: 960px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#sectionheader {
    border-bottom: 2px solid #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
}

#profilepicture {
    float: left;
    padding: 20px;
}

p {
    padding: 20px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer {
    background-color: #666666;
    font-size: 14px;
    text-align: center;
    padding-top: 75px;
    margin-top: 7.5%;
    border-top: 6px solid #4aaaa5;
}


@media screen and (max-width: 980px) {

header {
    width: 100%;
}

#links {
    margin-right: 15px;
}

.headingbar {
    width: 100%;
}

#container {
    width: 768px;
}
}

@media screen and (max-width: 768px) {
header {
     width: 100%;
}

#links {
    margin-right: 15px;
}

.headingbar {
    width: 100%;
}

#container {
     width: 640px;
}
}

@media screen and (max-width: 640px) {

header {
    position: static;
    width: 100%;
}


.headingbar {
    width: 100%;
}

h1 {
    width: 100%;
    text-align: center;
}


#links {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0;
}

#container {
    width: 100%;
}

#sectionheader {
    text-align: center;
}

#profilepicture {
    display: block;
    width: 100%;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}


p{
    font-size: 14px;
}

footer {
    padding: 20px;
}
}