* {
    box-sizing: border-box;
}

body {
    line-height: 150%;
    color: #777777;
    background-image: url("../images/background.png");
}

header {
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    margin-bottom: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.headingbar {
    width: 960px;
    margin: auto;
    overflow: auto;
}


h1 {
    padding: 20px;
    background-color: #4aaaa5;
    font-size: 24px;
    color: #ffffff;
    float: left;
    margin: auto;
}

#links {
    float: right;
    padding-top: 20px;
    background-color: #ffffff;
    width: 65%;
    text-align: right;
    color: #ddd9d9;
}

a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    margin: 10px;
}

.clearfix {
    margin-top: 2.5%;
}

#container {
    background-color: #ffffff;
    border-color: 2px solid #dddddd;
    margin: auto;
    width: 960px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#sectionheader {
    border-bottom: 2px solid #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
}

#profilepicture {
    float: left;
    padding: 20px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

footer {
    background-color: #666666;
    font-size: 14px;
    text-align: center;
    padding-top: 50px;
    margin-top: 7.5%;
    border-top: 6px solid #4aaaa5;
}